In [1]:
import matplotlib.pyplot as plt

In [2]:
pd.options.display.float_format = '{:.4f}'.format

In [3]:
df = pd.read_csv("/home/tbrownex/results.csv")

In [11]:
df.corr()

,l1Size,dropout,lr,std,lambda,batchSize,dropoutTest,rmse
l1Size,1.0000,0.0000,-0.0000,0.0000,0.0000,0.0000,0.0000,-0.0987
dropout,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.3821
lr,-0.0000,0.0000,1.0000,0.0000,-0.0000,0.0000,0.0000,0.0398
std,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,-0.0124
lambda,0.0000,0.0000,-0.0000,0.0000,1.0000,0.0000,-0.0000,0.6585
batchSize,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,-0.0808
dropoutTest,0.0000,0.0000,0.0000,0.0000,-0.0000,0.0000,1.0000,-0.0000
rmse,-0.0987,0.3821,0.0398,-0.0124,0.6585,-0.0808,-0.0000,1.0000

In [6]:
df.sort_values("rmse").head()

,l1Size,dropout,lr,std,lambda,optimizer,batchSize,dropoutTest,rmse
86,90,0.4000,0.0500,0.0100,0.0010,Adam,64,0.0500,2.9000
124,120,0.4000,0.0100,0.0500,0.0010,Adam,64,0.0500,2.9300
52,90,0.4000,0.0100,0.0500,0.0010,Adam,32,0.0500,2.9900
76,90,0.4000,0.0100,0.0500,0.0010,Adam,64,0.0500,3.0000
134,120,0.4000,0.0500,0.0100,0.0010,Adam,64,0.0500,3.0100

In [7]:
df.sort_values("rmse").tail()

,l1Size,dropout,lr,std,lambda,optimizer,batchSize,dropoutTest,rmse
105,120,0.6000,0.0500,0.0500,0.0100,Adam,32,0.0500,4.1400
106,120,0.4000,0.0500,0.0100,0.0100,Adam,32,0.0500,4.1600
9,45,0.6000,0.0500,0.0500,0.0100,Adam,32,0.0500,4.1900
131,120,0.6000,0.0500,0.0100,0.0100,Adam,64,0.0500,4.2200
57,90,0.6000,0.0500,0.0500,0.0100,Adam,32,0.0500,4.4900